plotly==4.5.1
dash_html_components==1.0.2
dash_core_components==1.8.0
pyodbc==4.0.30
wikipedia==1.4.0
numpy==1.22.0
tweepy==3.8.0
pandas==1.0.1
Unidecode==1.1.1
beautifulsoup4==4.9.0
vaderSentiment==3.3.1
